{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
      }
    },
    "extends": [
      "airbnb",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "prettier/@typescript-eslint",
      "prettier/react"
    ],
    "env": {
      "es6": true,
      "browser": true,
      "jest": true
    },
    "plugins": ["prettier", "react", "@typescript-eslint"],
    "rules": {
      "prettier/prettier": "error",
      "import/prefer-default-export": 0,
      "import/extensions": 0,
      "import/no-extraneous-dependencies": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
      "react/jsx-props-no-spreading": 0
    },
    "settings": {
      "react": {
        "version": "detect"
      },
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ts", ".tsx"]
        }
      }
    }
  }
  